.navbar {
    background-color: #cf926f8c;
    box-shadow: 0px 1px 20px #eaeaea;
    display: inline-block;
    font-weight: 400;
  }
  
  .logo .nav-item {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    color: #db322a;
    margin-left: 15px;
  }
  
  body {
    background-color: white;
  }
  





  /* Contact Page */
 
  .contact {
      font-family: "Poppins";
      color: rgb(37, 35, 35);
      display: flex;
      flex-direction: column;
      text-align: center;
  }
    
  .contacttitle {
      margin-top: 80px;
      font-size: 60px;
      font-family: "Ubuntu";
      text-align: center;
      color: black;
  }
  
  .block-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: -100px;
  }
  
  .blockimage{
      height: 100px;
      width: 100px;
      left: 0px;
      margin: auto;
      padding:10px;
      min-width: 100px;
  }
  
  .block1, .block2, .block3, .block4{
      font-family: "Poppins";
      transition: 0.5s ease;
      border-radius: 20px;
      display: flex;
      background-color: rgb(17, 17, 17);
      flex-basis: 30%;
      width: 200px;
      margin: 70px;
      margin-bottom: -50px;
      padding: 20px;
      padding-right: 260px;
  }
  
  .card-title{
      color: #D53535;
      white-space: nowrap;
  }
  
  .col-text{
      text-align: left;
      margin-left: 17px;
      color: white;
  }
  
  .social-media{
      list-style: none;
      display: flex;
  }
  
  .block2 .social-media a{
      color: white;
      font-size: 30px;
      margin: 20px;
      margin-left: 4px;
  }
  
  
  .block5{
      font-family: "Poppins";
      transition: 0.5s ease;
      border-radius: 20px;
      display: flex;
      background-color: #444444;
      flex-basis: 30%;
      margin: 70px;
      margin-bottom: 20px;
      padding: 30px;
  }
  
  .block5title{
      color: white;
  }
  
  .formname, .formemail, .formsubj, .formmsg{
      border-radius: 6px;
      padding: 20px;
      padding-right: 400px;
      margin-bottom: 10px;
      background: #BCBCBC;
      display: flex;
  }
  
  ::placeholder{
      color: black;
  }
  
  .formsubmit{
      border-radius: 25px;
      padding: 10px;
      padding-right: 50px;
      padding-left: 50px;
      cursor: pointer;
      background: rgb(184, 57, 57);
  }
  
  .formsubmit:hover{
      background: #74ffb9c0;
      box-shadow: 0.4rem 0.4rem 0.2rem #53615ac0;
  }
  
  /* Media Queries */
  @media (max-width: 1170px){
      .block1, .block2, .block3, .block4{
          flex-basis: 40%;
          
      }
  }
  
  @media (max-width: 984px){
      .block1, .block2, .block3, .block4{
          flex-basis: 52%;
          
      }
  }
  
  @media (max-width: 776px){
      .block1, .block2, .block3, .block4{
          flex-basis: 66%;
          
      }
  
      .formname, .formemail, .formsubj, .formmsg{
          border-radius: 6px;
          padding: 20px;
          padding-right: 200px;
          margin-bottom: 10px;
          background: #BCBCBC;
          display: flex;
      }
  }
  
  @media (max-width: 590px){
      .block1, .block2, .block3, .block4{
          flex-basis: 75%;
      }
  
      .blockimage{
          height: 70px;
          width: 70px;
          left: 0px;
          margin: auto;
          padding:10px;
          min-width: 100px;
          margin-left: -30px;
      }
  
      .card-title{
          font-size: 20px;
      }
  
      .card-content{
          font-size: 11px;
      }
  
      .block2 .social-media a{
          color: white;
          font-size: 20px;
          margin: 20px;
          margin-left: 4px;
      }
  
      .formname, .formemail, .formsubj, .formmsg{
          border-radius: 6px;
          padding: 20px;
          padding-right: 130px;
          margin-bottom: 10px;
          background: #BCBCBC;
          display: flex;
      }
  }
  
  @media (max-width: 455px){
      .block5title{
          font-size: 20px;
      }
  
  
      .formname, .formemail, .formsubj, .formmsg{
          border-radius: 6px;
          padding: 20px;
          padding-right: 20px;
          margin-bottom: 10px;
          background: #BCBCBC;
          display: flex;
      }
  
      .formsubmit{
          border-radius: 25px;
          padding: 10px;
          padding-right: 20px;
          padding-left: 20px;
          cursor: pointer;
          background: rgb(184, 57, 57);
      }
  }













  
  /* footer */
  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: #db322a;
    padding: 70px 0;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 300;
    position: relative;
  }
  
  .footer-col h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aliceblue;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: 0.3s;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    opacity: 0.6;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: darkgray;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  .footer-form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .footer-form .far {
    font-size: 18px;
    margin-right: 10px;
    color: white;
  }
  
  .footer-form input {
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
  }
  
  .footer-form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  .footer-form button .fas {
    font-size: 16px;
    color: white;
  }