/* footer {
  position: relative;
  margin-top: 200px;
} */

.navbar {
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 1px 20px #eaeaea;
  display: inline-block;
  font-weight: 400;
}

.logo .nav-item {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #db322a;
  margin-left: 15px;
}

body {
  background-color: #cf926f8c;
}

/* carousel */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0px auto;
  margin-top: 100px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/alyssa-strohmann-TS--uNw-JqE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 770px;
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/jordan-nix-4Hmj9gkyM6c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  
}

.hero-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/freestocks-_3Q3tsJ01nc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 18em;
  text-align: center;
}

.hero-text h1 {
  font-size: 2em;
  font-family: "Helvetica Neue";
  margin-top: 100px;
}

.heroButton {
  margin-top: 8px;
  border: none;
  outline: none;
  display: inline-block;
  padding: 15px 45px;
  border-radius: 50px;
  color: black;
  background-color: #ddd;
  cursor: pointer;
  transition: transform 0.3s;
  font-family: "Ubuntu";
}

.hero-text .heroButton:hover {
  transform: translateY(5px);
  background-color: #555;
  color: floralwhite;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* footer */

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #db322a;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 300;
  position: relative;
}

.footer-col h4:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: aliceblue;
  height: 2px;
  box-sizing: border-box;
  width: 60px;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ffffff;
  opacity: 0.6;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: darkgray;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.footer-form .far {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

.footer-form input {
  width: 100%;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
}

.footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer-form button .fas {
  font-size: 16px;
  color: white;
}
